<div class="w-100 min-h-screen bg-[var(--bg-main)] h-screen">

    <app-nav-login-signup></app-nav-login-signup>

    <div class="text-[var(--text-page-login-signup)] flex cursor-default
    h-[580px] bg-[var(--bg-page-login-signup)]">
        <div class="flex flex-col items-center justify-center w-1/2">
            <img class="w-72 h-72" src="{{environments.logo}}" alt="Roxana Marketplace Logo">
            <h1 class="text-5xl font-extrabold">Roxana</h1>
            <h2 class="text-3xl font-semibold">Welcome to the Roxana Marketplace</h2>
        </div>
        <div class="flex-1 text-[var(--text-block-login-signup)] flex items-center justify-center">
            <div class="bg-[var(--bg-block-login-signup)] w-[450px] h-[450px]
             rounded-md p-4">
                <h2 class="text-2xl font-semibold">Log in</h2>

            </div>
        </div>
    </div>
</div>