<div class="w-100 min-h-screen bg-[var(--bg-main)] ">
    <!-- nav -->
    <app-nav></app-nav>

    <!-- <div class="w-full p-10"> -->
    <div class="w-full xxs:px-4 pb-4 md:py-4">
        <!-- สำหรับที่อยู่จัดส่ง -->
        <div>
            <label for="shippingAddress">Shipping address</label>
            <textarea id="shippingAddress" class="w-full h-16 p-4 outline-none"
                placeholder="Specify recipient's full name and delivery location"></textarea>
        </div>

        <!-- เส้นคั่นเฉย ๆ -->
        <div class="w-full h-[6px] bg-[var(--btn-secondary)] mb-6"></div>

        <!-- รายการสินค้าที่จะซื้อ -->
        <app-product-list-checkout [productListCheckout]="productPay"></app-product-list-checkout>

        <!-- ตัวเลือกการจัดส่ง (ขนส่ง) -->
        <div></div>

        <!-- เลือกวิธีการชำระเงิน -->
        <div></div>

        <!-- สรุปคำสั่งซื้อ -->
        <div></div>

        <!-- ฟีล nav แสดงยอดรวม และปุ่มให้กดสั่งซื้อ -->
        <div></div>

    </div>

</div>