
api-shop/.vs/api-shop/FileContentIndex/605ba8db-1dc2-4f7b-9522-3359c789eb91.vsidx
api-shop/.vs/api-shop/FileContentIndex/851272f5-1216-4b5d-bbf0-65909da4e719.vsidx
api-shop/.vs/api-shop/FileContentIndex/cd20f6e5-85db-48b2-ac8b-ad429f1ccef6.vsidx
api-shop/.vs/api-shop/FileContentIndex/dc988f60-7db1-40f4-999b-d1e871753bb0.vsidx
api-shop/.vs/api-shop/FileContentIndex/ff1c2ea3-94bd-4ab6-98ad-c40f7532c83e.vsidx
