<div class="absolute top-3 right-3 z-50 text-base
rounded-md bg-[var(--bg-alert)] shadow-lg
min-w-[450px] min-h-[120px]">
    <div class="w-full rounded-t-md h-2 bg-[var(--border-alert)]">
        <div class="bg-[var(--progress-alert-ok)] h-full
           rounded-r-full" [ngStyle]="{'width': progressbar + '%'}">
        </div>
    </div>
    <div class="flex flex-col p-4">
        <div class="flex-1 flex items-center text-[var(--border-alert-ok)]">
            <div class="w-10">
                <svg class="w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                </svg>
            </div>
            <h2 class="font-bold text-lg">Success!</h2>
        </div>
        <h3 class="pl-10 flex-1 text-[var(--text-main-dark:)]">{{messageAlertOk}}</h3>
        <div>
            <svg class="absolute top-4 right-4 
            w-[25px] hover:w-[23px] transition-all duration-100 cursor-pointer p-1" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512" (click)="closeAlert()">
                <path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
        </div>

    </div>

</div>