<nav class="w-100 min-h-max xs:h-16 bg-[var(--bg-nav)] flex flex-col xxs:flex-row items-center justify-between">
    <!-- <img (click)="toIndex()" class="h-3/5 md:h-full md:min-w-max cursor-pointer" src="{{environments.logoUrl}}" -->
    <!-- logo -->
    <div class="space-x-3 h-12 md:h-full md:w-1/3 md:min-w-max flex items-center cursor-pointer ">
        <img class="xs:pl-2 h-full md:h-full md:min-w-max text-[var(--text-nav)] " src="{{environments.logo}}"
            alt="MAHIDOL ENGINEERING">
        <h1 class="text-sm xs:text-xl font-extrabold text-[var(--text-nav)]">Roxana</h1>
    </div>

    <!-- block search -->
    <!-- แสดงผลในกรณีที่ screen-md -->
    <app-search class="w-full h-3/5 items-center hidden md:flex"></app-search>

    <!-- account -->
    <!-- login , sinup ,Profile Management, Order History, Cart, Contact Us, Logout -->
    <div class="xs:w-1/3 btn-group flex items-center justify-end" [class.space-x-3]="!loggedIn"
        [class.space-x-6]="loggedIn">
        <!-- cart -->
        <div *ngIf="loggedIn" class="relative px-2 py-1 rounded-full cursor-pointer items-center ">
            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                    d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16l37.9 0c7.6 0 14.2 5.3 15.7 12.8l58.9 288c6.1 29.8 32.3 51.2 62.7 51.2L496 384c8.8 0 16-7.2 16-16s-7.2-16-16-16l-304.8 0c-15.2 0-28.3-10.7-31.4-25.6L152 288l314.6 0c29.4 0 55-20 62.1-48.5L570.6 71.8c5-20.2-10.2-39.8-31-39.8L99.1 32C92.5 13 74.4 0 53.9 0L16 0zm90.1 64l433.4 0L497.6 231.8C494 246 481.2 256 466.5 256l-321.1 0L106.1 64zM168 456a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm80 0a56 56 0 1 0 -112 0 56 56 0 1 0 112 0zm200-24a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm0 80a56 56 0 1 0 0-112 56 56 0 1 0 0 112z" />
            </svg>
            <div class="absolute -top-2 -right-5 rounded-full flex items-center justify-center 
                bg-[var(--btn-main)] border-2 border-[var(--icon)] text-[var(--icon)]">
                <h4 class="py-1 px-2 font-extrabold text-xs hover:text-sm transition-all duration-100">99+</h4>
            </div>
        </div>

        <button class="px-3" title="account" type="button" id="account" data-bs-toggle="dropdown" aria-expanded="false"
            aria-haspopup="true" class="flex items-center space-x-3 pr-2 md:pr-5">
            <svg class="h-8 xs:w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
            </svg>
            <h1 *ngIf="!loggedIn" class="flex xxs:hidden text-sm xs:text-xl font-extrabold text-[var(--text-nav)]">Login
            </h1>
        </button>
        <div class="mt-2 dropdown-menu dropdown-menu-start" aria-labelledby="account">
            <div *ngIf="!loggedIn">
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">Signup</a>
            </div>
            <div *ngIf="loggedIn">
                <!-- การจัดการข้อมูลผู้ใช้ เช่น ชื่อ, ที่อยู่, และข้อมูลการติดต่อ -->
                <a class="dropdown-item" href="#">Profile Management</a>
                <a class="dropdown-item" href="#">Order History</a>
                <a class="dropdown-item" href="#">Cart</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Contact Us</a>
            <a *ngIf="loggedIn" class="dropdown-item" href="#">Logout</a>
        </div>
    </div>
</nav>

<!-- block search -->
<!-- แสดงผลในกรณีที่ screen-sm -->
<div class="md:hidden w-full flex justify-center items-center my-3 xxs:my-4">
    <app-search class="w-full px-2 xxs:px-3 h-8 xxs:h-10 items-center md:hidden flex"></app-search>
</div>