<form [formGroup]="signupForm" (ngSubmit)="onsubmitSignup()" class="space-y-6 text-base text-[var(--text-main-dark)]"
    autocomplete="off">
    <div>
        <input formControlName="username" type="text" autocomplete="off" placeholder="Please enter your username"
            class="w-full h-10 border-1 border-[var(--border-img)] p-3 outline-none"
            [class.error]="(signupForm.controls['username'].dirty  || isSubmitted)&&signupForm.controls['username'].hasError('required')">
        <small
            *ngIf="(signupForm.controls['username'].dirty || isSubmitted) &&signupForm.controls['username'].hasError('required')"
            class="pl-2 text-[var(--text-error)] text-xs">*Please enter your username.</small>
    </div>
    <div>
        <div class="relative">

            <!-- ใช้ new-password เพราะตอนใช้ off มันมีปัญหาที่บางเบาว์เซอร์จะสร้างรหัสผ่านขึ้นบน input โดยอัตโนมัติ -->
            <input formControlName="password" type="password" autocomplete="new-password"
                placeholder="Please enter your password"
                [class.error]="(signupForm.controls['password'].dirty || isSubmitted) &&signupForm.controls['password'].hasError('required')"
                class="w-full h-10 border-1 border-[var(--border-img)] p-3 outline-none">
        </div>
        <small
            *ngIf="(signupForm.controls['password'].dirty || isSubmitted) &&signupForm.controls['password'].hasError('required')"
            class="pl-2 text-[var(--text-error)] text-xs">*Please enter your password.</small>
    </div>
    <div>
        <div class="relative">
            <input formControlName="passwordConfirm" type="password" autocomplete="new-password"
                placeholder="Please confirm your password"
                class="w-full h-10 border-1 border-[var(--border-img)] p-3 outline-none"
                [class.error]="(signupForm.controls['passwordConfirm'].dirty || isSubmitted) &&signupForm.controls['passwordConfirm'].hasError('required') 
            && !this.signupForm.errors?.['mismatch'] || signupForm.controls['passwordConfirm'].dirty && this.signupForm.errors?.['mismatch']">
        </div>
        <!-- ถ้าจะขึ้นให้ป้อนยืนยันรหัสผ่าน ช่องยืนยันรหัสผ่านจะต้องตรงกันกับช่องป้อนรหัสผ่านด้วย 
         ถ้าไม่ตรงกันให้ขึ้นโปรดป้อนรหัสยืนยันให้ตรงรหัสผ่าน-->
        <small *ngIf="(signupForm.controls['passwordConfirm'].dirty || isSubmitted) &&signupForm.controls['passwordConfirm'].hasError('required') 
            && !this.signupForm.errors?.['mismatch']" class="pl-2 text-[var(--text-error)] text-xs">*Please confirm
            your
            password.</small>
        <small
            *ngIf="(signupForm.controls['passwordConfirm'].dirty || isSubmitted) && this.signupForm.errors?.['mismatch']"
            class="pl-2 text-[var(--text-error)] text-xs">*Please enter the confirmation code to match the
            password.</small>
    </div>
    <button type="submit" class="w-full h-10 
        bg-[var(--btn-main)] hover:bg-[var(--btn-main-hover)]  text-[var(--btn-text)]
        transition-all duration-100 rounded-md">
        <h4 class="font-bold">
            SIGN UP
        </h4>
    </button>

</form>