<div class="fixed flex w-full h-16 z-50 text-lg bottom-0
 bg-[var(--bg-nav)]">
    <div class="flex flex-1 space-x-3 h-full justify-center items-center rounded-r-lg">
        <h3>Total</h3>
        <h2 *ngIf="pricePay" class="text-[var(--text-price)] font-bold">฿{{pricePay.toLocaleString()}}</h2>
    </div>
    <a href="checkout" class="min-w-max h-full">
        <button class="bg-[var(--btn-main)] hover:bg-[var(--btn-main-hover)]
    text-[var(--btn-text)] font-medium text-xl
    transition-all duration-100 px-8 h-full">
            <h5 *ngIf="quantityPay">
                <!-- .toLocaleString() ใส่ comma น่ะ -->
                Pay ({{quantityPay.toLocaleString()}})
            </h5>
        </button>
    </a>
</div>