@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #f4f6f6;
  --bg-alert: white;
  --bg-img: white;
  --bg-nav: white;
  --bg-block-login-signup: white;
  --bg-page-login-signup: black;

  --text-block-nav: black;
  --text-block: black;
  --text-block-login-signup: black;
  --text-page-login-signup: #f4f6f6;
  --text-nav: #575a5e;
  --text-main-dark: #5c5c5c;
  --text-secondary-dark: #959b9d;
  --text-main: white;
  --text-price: #ffa500;
  --text-link: #ff8d00;
  --text-link-hover: #ffa700;
  --text-error: red;

  --btn-main: #ffa700;
  --btn-main-hover: #ff8d00;
  --btn-secondary: #ffde1a;
  --btn-secondary-hover: #ffce00;
  --btn-text: white;
  --btn-disabled: rgba(167, 162, 169, 0.4);

  --icon: #222823;

  --bg-block-main: white;
  --bg-block: rgba(167, 162, 169, 0.2);
  --bg-block-dark: rgba(167, 162, 169, 1);
  --loadding-color: var(--text-price);
  --loadding-bg-color: #e5e7eb;

  --border-img: rgba(167, 162, 169, 0.4);
  --border-alert: var(--bg-block-dark);
  --border-checkbox: var(--text-secondary-dark);
  --border-input: rgba(167, 162, 169, 0.4);

  /* alert */
  --alert-ok: green;
  --alert-error: red;
}

input.error::placeholder {
  color: red;
}

input.error {
  border: 1px solid red !important;
}

.error {
  color: red;
}
