<img *ngIf="hasImages()" src="{{imgBigDisplay}}" alt="{{product.Title}}" title="{{product.Title}}"
    class="w-36 h-36 xxs:w-52 xxs:h-52 xs:w-80 xs:h-80 rounded-md p-2 border-b-2">

<div *ngIf="hasImages()" class="w-36 xxs:w-52 xs:w-80 h-24 overflow-hidden flex items-center">
    <!-- ปุ่มเลื่อนไปทางซ้าย -->
    <div class="w-12 text-[var(--icon)] p-2 text-2xl">
        <svg *ngIf="canScrollLeft" (click)="scrollLeft()" class="w-4 cursor-pointer" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 256 512">
            <path
                d="M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z" />
        </svg>
    </div>

    <!-- รูปภาพที่ให้เลือกมาแสดงเป็นภาพใหญ่ -->
    <div #slider id="slider" class="flex overflow-x-hidden scroll-smooth space-x-2
    bg-red-600 w-full">
        <div *ngFor="let item of product.AllImg" class="flex-shrink-0 w-16 h-16">
            <img src="{{item}}" alt="{{product.Title}}" class="w-full h-full rounded-md shadow-md border-1 cursor-pointer
                border-[var(--border-img)]" (click)="changeDisplayImgBig(item)">
        </div>
    </div>

    <!-- ปุ่มเลื่อนไปทางขวา -->
    <div *ngIf="canScrollRight" (click)="scrollRight()" class="w-12 text-[var(--icon)] p-2 cursor-pointer text-2xl">
        <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path
                d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z" />
        </svg>
    </div>
</div>