<form [formGroup]="loginForm" class="space-y-8">
    <input formControlName="username" type="text" placeholder="Please enter your username"
        class="w-full h-10 border-1 border-[var(--border-img)] p-3">
    <input formControlName="password" type="text" placeholder="Please enter your password"
        class="w-full h-10 border-1 border-[var(--border-img)] p-3">
    <button type="submit" class="w-full h-10 
                    bg-[var(--btn-main)] text-[var(--btn-text)]
                    rounded-md">
        <h4 class="font-bold">
            LOG IN
        </h4>
    </button>
</form>
<!-- link ไปอีกหน้า -->
<div>

</div>