<div class="flex flex-col space-y-2 md:space-y-0 items-start md:flex-row md:items-center">
    <app-display-slide-img [product]="productImgPreview"></app-display-slide-img>
    <label for="allImgProduct"
        class="bg-[#8E1813] md:min-w-max min-w-24 py-1 px-2 text-center text-white cursor-pointer">
        Upload File</label>
    <input id="allImgProduct" title="Please upload product listing images." type="file" multiple class="hidden"
        (change)="onFileChange( $event)" accept=".pdf,.jpg,.png" #fileInput>
    <!-- class="border border-gray-300 rounded-sm shadow-sm focus:outline-none 
    w-36 px-2 py-1 hidden"  -->
    <!-- <small id="fileStatus{{itemQuestion.evidenceCode}}" class="md:ml-5">No
        file
        chosen</small> -->
</div>