<div class="w-100 min-h-screen bg-[var(--bg-main)] ">
    <app-nav></app-nav>

    <div class="w-full xxs:px-4 pb-4 md:py-4">

        <form [formGroup]="AddProductSubmit" (ngSubmit)="onSubmitAddProduct()" class="text-base
        text-[var(--text-block)]">
            <app-input-type [submited]="submitFormBool" [form]="AddProductSubmit" [controlName]="'titleProduct'"
                [typeInput]="'text'" [req]="true" [control]="control()"></app-input-type>

            <app-btn-add-product [btnType]="'submit'"></app-btn-add-product>
        </form>
    </div>

    <!-- Id: 1,
    Title: 'ไอแพด-1',
    ImgCover: '/assets/5s-1.jpeg',
    AllImg: [
      '/assets/5s-1.jpeg',
      '/assets/5s-2.jpeg',
      '/assets/9g-1.jpeg',
      '/assets/9g-2.jpeg',
      '/assets/5s-1.jpeg',
      '/assets/5s-2.jpeg',
      '/assets/9g-2.jpeg',
      '/assets/5s-1.jpeg',
      '/assets/5s-2.jpeg',
    ],
    Price: 186,
    Inventory: 25,
    Quantity: 0,
    Select: false, -->
</div>